<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h5><i class="pi pi-fw pi-home"></i> Investment Portfolio</h5> <br />
            <p-chart type="pie" [data]="chartData" [options]="chartOptions" width="400" height="400"></p-chart>

            <br /> <br />
            <div class="grid-container">
                <p-table [value]="gridData" [paginator]="true" [rows]="10" [sortMode]="'multiple'" [responsiveLayout]="'scroll'" [groupRowsBy]="group" (onSort)="onGroupChange($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="Instrument">Instrument <p-sortIcon field="Instrument"></p-sortIcon></th>
                            <th pSortableColumn="Counterparty">Counterparty <p-sortIcon field="Counterparty"></p-sortIcon></th>
                            <th pSortableColumn="StartDate">Start Date <p-sortIcon field="StartDate"></p-sortIcon></th>
                            <th pSortableColumn="Maturity">Maturity <p-sortIcon field="Maturity"></p-sortIcon></th>
                            <th pSortableColumn="Notional">Notional <p-sortIcon field="Notional"></p-sortIcon></th>
                            <th pSortableColumn="InterestRate">Interest Rate <p-sortIcon field="InterestRate"></p-sortIcon></th>
                            <th pSortableColumn="Yield">Yield <p-sortIcon field="Yield"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>{{data.Instrument}}</td>
                            <td>{{data.Counterparty}}</td>
                            <td>{{data.StartDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{data.Maturity | date:'dd/MM/yyyy'}}</td>
                            <td>{{data.Notional | currency:data.Currency}}</td>
                            <td>{{data.InterestRate}}</td>
                            <td>{{data.Yield}}</td>
                        </tr>
                    </ng-template>
                
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No data found.</td>
                        </tr>
                    </ng-template>
                </p-table>
                
            </div>
        </div>
    </div>
</div>