<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/TREX_Full_Logo.png" alt="TREX logo" class="mb-5 w-12rem flex-shrink-0" style="border-radius: 5%;">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, #324533 10%, rgba(62, 69, 51, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/demo/images/login/generic-avatar.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome to TREX</div>
                    
                    
                    <!--
                    <div style="display: flex; justify-content: center; align-items: center; text-align: center;">
                        <asl-google-signin-button type='standard' size='large'></asl-google-signin-button>
                    </div>
                    -->

                    
                </div>

                <div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
