.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bold-header {
  font-weight: bold;
}

.filter-icon {
  cursor: pointer;
  margin-left: 8px;
}
.toolbar-container {
  display: flex;
  align-items: center;
}

