<div class="grid">
    <div class="col-12">
        <div class="header_main">
            <h1> Money Movements </h1>
            <!-- <button pButton   
            class="custom-primary-button"> Add Money Movements </button> -->
            </div>
        <div class="card p-fluid">
            <!-- <h5><i class="pi pi-fw pi-arrows-h"></i> Money Movements</h5> -->
<div class="card_container">
    <p-table [value]="tableData" [paginator]="true" [rows]="20" [responsiveLayout]="'scroll'" sortMode="single"  sortMode="single" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
(onPage)="pageChange($event)"         [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem'}"> 
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="date">
                    Date <p-sortIcon field="date"></p-sortIcon>
                </th>
                <th pSortableColumn="account">
                    Account <p-sortIcon field="account"></p-sortIcon>
                </th>
                <th pSortableColumn="counterparty">
                    Counterparty <p-sortIcon field="counterparty"></p-sortIcon>
                </th>
                <th pSortableColumn="description">
                    Description <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="direction">
                    Direction <p-sortIcon field="direction"></p-sortIcon>
                </th>
                <th pSortableColumn="amount">
                    Amount <p-sortIcon field="amount"></p-sortIcon>
                </th>
                <th pSortableColumn="status">
                    Status <p-sortIcon field="status"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataItem>
            <tr>
                <td>{{ dataItem.date }}</td>
                <td>{{ dataItem.account }}</td>
                <td>{{ dataItem.counterparty }}</td>
                <td>{{ dataItem.description }}</td>
                <td>{{ dataItem.direction }}</td>
                <td>{{ dataItem.amount | currency: dataItem.currency }}</td>
                <td>
                    <span [ngClass]="{
                        'active': dataItem.status === 'Active',
                        'inactive': dataItem.status === 'InActive',
                        'failed': dataItem.status === 'Failed',
                        'expired': dataItem.status === 'Expired',
                        'not-approved': dataItem.status === 'Not Approved'
                    }"></span>
                    <span>{{ dataItem.status }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
            <!-- <kendo-grid [kendoGridBinding]="tableData" [pageSize]="20" [pageable]="true" [sortable]="true"
                [filterable]="filterMode" [groupable]="true" style="width: 100%;">

                <kendo-grid-column field="date" title="Date" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.date }}</span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="account" title="Account" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.account }}</span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="counterparty" title="Counterparty" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.counterparty }}</span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="description" title="Description" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.description }}</span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="direction" title="Direction" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.direction }}</span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="amount" title="Amount" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.amount | currency: dataItem.currency }}</span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="status" title="Status" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span [ngClass]="{
                            'active': dataItem.status === 'Active',
                            'inactive': dataItem.status === 'InActive',
                            'failed': dataItem.status === 'Failed',
                            'expired': dataItem.status === 'Expired',
                            'not-approved': dataItem.status === 'Not Approved'
                        }"></span>
                        <span>{{ dataItem.status }}</span>
                    </ng-template>
                </kendo-grid-column>

            </kendo-grid>  -->
        </div>
        </div>
    </div>
</div>