<kendo-grid [kendoGridBinding]="tableData" [pageSize]="10" [pageable]="true" [sortable]="true">
    <kendo-grid-column field="status" title="Status" width="150"></kendo-grid-column>
    <kendo-grid-column field="date" title="Date" width="150"></kendo-grid-column>
    <kendo-grid-column field="account" title="Account" width="150"></kendo-grid-column>
    <kendo-grid-column field="counterparty" title="Counterparty" width="150"></kendo-grid-column>
    <kendo-grid-column field="description" title="Description" width="150"></kendo-grid-column>
    <kendo-grid-column field="direction" title="Direction" width="150"></kendo-grid-column>
    <kendo-grid-column field="amount" title="Amount" width="150"></kendo-grid-column>
</kendo-grid>