<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h5><i class="pi pi-fw pi-dollar"></i> Counter Parties</h5>
            <kendo-grid
                [kendoGridBinding]="listData"
                [pageSize]="20"
                [pageable]="true"
                [sortable]="true"
                [filterable]="filterMode"
                [groupable]="true"
                style="width: 100%"
            >
                <kendo-grid-column field="name" title="Name">
                    <ng-template
                        kendoGridCellTemplate
                        let-dataItem
                        let-rowIndex="rowIndex"
                    >
                        <a
                            href="javascript:void(0)"
                            (click)="handlePopup(dataItem)"
                        >
                            {{ dataItem.name }}
                        </a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                    field="aliasName"
                    title="Alias Name"
                    width="150"
                >
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.aliasName }}</span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="country" title="Country" width="150">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.country }}</span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                    field="currency"
                    title="Currency"
                    width="150"
                >
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.currency }}</span>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
            <p-dialog
                [(visible)]="displayOverlay"
                [modal]="true"
                showEffect="fade"
                [style]="{ width: '70vw' }"
                [breakpoints]="{ '960px': '75vw' }"
            >
                <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2"></div>
                        <span>
                            {{ selectedNameDetail?.entity }} -
                            {{ selectedNameDetail?.name }}
                        </span>
                    </ng-template>
                    <div class="col-12">
                        <div class="grid m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <p-divider layout="horizontal" align="left">
                                    <span class="p-tag">Details</span>
                                </p-divider>
                                <div class="field grid">
                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="legalName"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Legal Name</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <input
                                                    pInputText
                                                    id="legalName"
                                                    type="text"
                                                    formControlName="legalName"
                                                />
                                                <div
                                                    *ngIf="
                                                        myForm.get('legalName')
                                                            .invalid &&
                                                        myForm.get('legalName')
                                                            .touched
                                                    "
                                                    class="error"
                                                >
                                                    Legal Name is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="aliasName"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Alias Name</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <input
                                                    pInputText
                                                    id="aliasName"
                                                    type="text"
                                                    formControlName="aliasName"
                                                />
                                                <div
                                                    *ngIf="
                                                        myForm.get('aliasName')
                                                            .invalid &&
                                                        myForm.get('aliasName')
                                                            .touched
                                                    "
                                                    class="error"
                                                >
                                                    Alias Name is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="type"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Type</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <p-multiSelect
                                                    inputId="multiselect"
                                                    id="selectedType"
                                                    [options]="types"
                                                    [(ngModel)]="selectedType"
                                                    optionLabel="name"
                                                    [filter]="true"
                                                >
                                                    <div
                                                        *ngIf="
                                                            myForm.get(
                                                                'selectedType'
                                                            ).invalid &&
                                                            myForm.get(
                                                                'selectedType'
                                                            ).touched
                                                        "
                                                        class="error"
                                                    >
                                                        Type is required.
                                                    </div>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p-divider layout="horizontal" align="left">
                                    <span class="p-tag"
                                        >Legal Entity Identifiers</span
                                    >
                                </p-divider>
                                <div class="field grid">
                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="treasury"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Treasury</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <p-multiSelect
                                                    inputId="multiselect"
                                                    id="selectedTreasuryType"
                                                    [options]="treasuryTypes"
                                                    [(ngModel)]="
                                                        selectedTreasuryType
                                                    "
                                                    optionLabel="name"
                                                    [filter]="true"
                                                >
                                                    <div
                                                        *ngIf="
                                                            myForm.get(
                                                                'selectedTreasuryType'
                                                            ).invalid &&
                                                            myForm.get(
                                                                'selectedTreasuryType'
                                                            ).touched
                                                        "
                                                        class="error"
                                                    >
                                                        Treasury Type is
                                                        required.
                                                    </div>
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="otherIdentifiers"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Other Identifiers</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <input
                                                    pInputText
                                                    id="otherIdentifiers"
                                                    type="text"
                                                    formControlName="otherIdentifiers"
                                                />
                                                <div
                                                    *ngIf="
                                                        myForm.get(
                                                            'otherIdentifiers'
                                                        ).invalid &&
                                                        myForm.get(
                                                            'otherIdentifiers'
                                                        ).touched
                                                    "
                                                    class="error"
                                                >
                                                    Other Identifiers is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p-divider layout="horizontal" align="left">
                                    <span class="p-tag">Contact Details</span>
                                </p-divider>
                                <div class="field grid">
                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="address"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Address</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <textarea
                                                    rows="4"
                                                    cols="26"
                                                    id="address"
                                                    pInputTextarea
                                                    [(ngModel)]="value"
                                                    formControlName="address"
                                                >
                                                <div
                                                    *ngIf="
                                                    myForm.get('address')
                                                            .invalid &&
                                                            myForm.get('address')
                                                            .touched
                                                    "
                                                    class="error"
                                                >
                                                    Address is required.
                                                </div>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="emailId"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Email-ID</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <input
                                                    pInputText
                                                    id="emailID"
                                                    type="text"
                                                    formControlName="emailID"
                                                />
                                                <div
                                                    *ngIf="
                                                        myForm.get('emailID')
                                                            .invalid &&
                                                        myForm.get('emailID')
                                                            .touched
                                                    "
                                                    class="error"
                                                >
                                                    Valid Email-ID is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="Telephone"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>Telephone</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <input
                                                    pInputText
                                                    id="Telephone"
                                                    type="text"
                                                    formControlName="Telephone"
                                                />
                                                <div
                                                    *ngIf="
                                                        myForm.get('Telephone')
                                                            .invalid &&
                                                        myForm.get('Telephone')
                                                            .touched
                                                    "
                                                    class="error"
                                                >
                                                    Valid Telephone is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="field grid">
                                            <label
                                                htmlFor="keyContact"
                                                class="col-4 md:col-4 mb-0 md:mb-0"
                                            >
                                                <b>key Contact</b>
                                            </label>
                                            <div class="col-7 md:col-7">
                                                <input
                                                    pInputText
                                                    id="keyContact"
                                                    type="text"
                                                    formControlName="keyContact"
                                                />
                                                <div
                                                    *ngIf="
                                                        myForm.get('keyContact')
                                                            .invalid &&
                                                        myForm.get('keyContact')
                                                            .touched
                                                    "
                                                    class="error"
                                                >
                                                    Key Contact is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <!-- <button
                            pButton
                            icon="pi pi-check"
                            (click)="displayOverlay = false"
                            label="Ok"
                            class="p-button-outlined"
                        ></button> -->
                            <p-button type="submit" label="OK"></p-button>
                        </ng-template>
                    </div>
                </form>
            </p-dialog>
        </div>
    </div>
</div>
