<div class="grid">
    <div class="col-12">
        <div class="header_main" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <h1>Counterparties</h1>
            
            <div style="display: flex; gap: 10px;">
                <button pButton label="Add Counterparty"
                        class="custom-primary-button"></button>
        
                <button pButton label="Bulk Upload"
                        class="custom-primary-button"></button>
            </div>
        </div>
        <div class="card p-fluid">
            <!-- <div class="card_header">
                <h2> Counter Parties</h2> 
                <i class="pi pi-check" style="color: slateblue"></i>
                  </div> -->
                  <div class="card_container">
                    <p-table [value]="counterpartiesList" [paginator]="true" [rows]="20" [responsiveLayout]="'scroll'" sortMode="single"
                    sortMode="single" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            (onPage)="pageChange($event)"         [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem', 'border': '1px solid lightgray',  'border-radius': '5px'}"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="legalName">
                                    Legal Name <p-sortIcon field="legalName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="aliasName">
                                    Alias Name <p-sortIcon field="aliasName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="country">
                                    Country <p-sortIcon field="country"></p-sortIcon>
                                </th>
                                <th pSortableColumn="currency">
                                    Currency <p-sortIcon field="currency"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Actions">
                                    Actions 
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dataItem>
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" (click)="handlePopup(dataItem)">
                                        {{ dataItem.legalName }}
                                    </a>
                                </td>
                                <td>{{ dataItem.aliasName }}</td>
                                <td>
                                    <div class="flex align-items-center gap-2">
                                        <img [src]="countryService.getCountryImageUrl(dataItem.country)"  
                                            alt="{{ dataItem.country }}" width="30" />
                                        <span>{{ dataItem.country }}</span>
                                    </div>
                                </td>
                                <td>
                                    <!-- <i class="pi pi-fw pi-euro"></i>
                                    <i [class]="this.currencyService.getCurrencyClass(dataItem.currency)"></i> -->
                                    <span>{{ dataItem.currency }}</span>
                                </td>
                                <td>
                                    <a href="#"> <em class="far fa-edit"></em> </a>
                                    <a href="#"> <em class="far fa-eye"></em> </a>
                                    <a href="#"> <em class="far fa-trash-alt"></em> </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    
            <!-- <kendo-grid [kendoGridBinding]="counterpartiesList" [pageSize]="20" [pageable]="true" [sortable]="true"
                [filterable]="filterMode" [groupable]="true" style="width: 100%">
                <kendo-grid-column field="legalName" title=" Legal Name">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <a href="javascript:void(0)" (click)="handlePopup(dataItem)">
                            {{ dataItem.legalName }}
                        </a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="aliasName" title="Alias Name">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.aliasName }}</span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="country" title="Country">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <div class="flex align-items-center gap-2">
                            <img [src]="this.countryService.getCountryImageUrl(dataItem.country)"  
                                alt="{{ dataItem.country }}" width="30" />
                            <span> {{ dataItem.country }} </span>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="currency" title="Currency">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <i [class]="this.currencyService.getCurrencyClass(dataItem.currency)"></i>
                        <span>{{ dataItem.currency }}</span>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid> -->
         </div>
            <p-dialog [(visible)]="displayOverlay" [modal]="true" showEffect="fade" [style]="{ width: '70vw' }"
                [breakpoints]="{ '960px': '75vw' }">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span>
                            {{ this.selectedCounterparty.legalName }} - {{ this.selectedCounterparty.aliasName }}
                        </span>
                    </div>
                </ng-template>

                <form [formGroup]="counterpartyForm" (ngSubmit)="submitCounterpartyForm()" *ngIf="selectedCounterparty">
                    <div class="col-12">
                        <div class="grid m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <p-divider layout="horizontal" align="left">
                                    <span class="p-tag">Details</span>
                                </p-divider>
                                <div class="field grid">
                                    
                                        <div class="col-4 form-group"> 
                                            <label htmlFor="legalName" >
                                                 Legal Name 
                                            </label>
                                           
                                                <input pInputText id="legalName" type="text" formControlName="legalName"
                                                    [(ngModel)]="selectedCounterparty.legalName" />
                                                <div *ngIf="counterpartyForm.get('legalName').invalid && counterpartyForm.get('legalName').touched"
                                                    class="error">
                                                    Legal Name is required.
                                                </div>
                                            
                                        </div>
                                     
                                   
                                        <div class="col-4 form-group"> 
                                            <label htmlFor="aliasName">
                                               Alias Name 
                                            </label>
                                           
                                                <input pInputText id="aliasName" type="text" formControlName="aliasName"
                                                    [(ngModel)]="selectedCounterparty.aliasName" />
                                                <div *ngIf="counterpartyForm.get('aliasName').invalid && counterpartyForm.get('aliasName').touched"
                                                    class="error">
                                                    Alias Name is required.
                                                </div>
                                           
                                        </div>
                                   
                                     
                                        <div class="col-4 form-group"> 
                                            <label htmlFor="type">
                                                 Type 
                                            </label>
                                                <p-multiSelect inputId="multiselect" id="selectedCounterpartyType" [options]="counterpartyTypes"
                                                    [(ngModel)]="selectedType" optionLabel="name" [filter]="true"
                                                    formControlName="selectedCounterpartyType"
                                                    [(ngModel)]="selectedCounterparty.selectedType">
                                                    <div *ngIf="
                                                            counterpartyForm.get('selectedCounterpartyType').invalid && counterpartyForm.get('selectedCounterpartyType').touched"
                                                        class="error">
                                                        Type is required.
                                                    </div>
                                                </p-multiSelect>
                                        </div>
                                    
                                </div>
                                <p-divider layout="horizontal" align="left">
                                    <span class="p-tag">Legal Entity Identifiers</span>
                                </p-divider>
                                <div class="field grid">
                                     
                                    <div class="col-4 form-group"> 
                                            <label htmlFor="treasury">
                                                Treasury 
                                            </label>
                                            
                                                <p-multiSelect inputId="multiselect" id="selectedTreasuryType"
                                                    [options]="treasuryTypes" [(ngModel)]="selectedTreasuryType"
                                                    optionLabel="name" [filter]="true"
                                                    formControlName="selectedTreasuryType"
                                                    [(ngModel)]="selectedCounterparty.selectedTreasuryType">
                                                    <div *ngIf="counterpartyForm.get('selectedTreasuryType').invalid && counterpartyForm.get('selectedTreasuryType').touched"
                                                        class="error">
                                                        Treasury Type is required.
                                                    </div>
                                                </p-multiSelect>
                                            
                                        </div>
                                    

                                  
                                        <div class="col-4 form-group">
                                            <label htmlFor="otherIdentifiers" >
                                               Other Identifiers 
                                            </label>
                                            
                                                <input pInputText id="otherIdentifiers" type="text"
                                                    formControlName="otherIdentifiers"
                                                    [(ngModel)]="selectedCounterparty.otherIdentifiers" />
                                                <div *ngIf="
                                                        counterpartyForm.get('otherIdentifiers').invalid && counterpartyForm.get('otherIdentifiers').touched"
                                                    class="error">
                                                    Other Identifiers isrequired.
                                                </div>
                                         
                                        </div>
                                    
                                </div>

                                <p-divider layout="horizontal" align="left">
                                    <span class="p-tag">Contact Details</span>
                                </p-divider>
                                <div class="field grid">
                                   
                                        <div class="col-4 form-group">
                                            <label htmlFor="entity"> Country </label>
                                              <p-dropdown [options]="countries" id="country"
                                                    [(ngModel)]="selectedCountry" optionLabel="name"
                                                    placeholder="Select a Country" formControlName="country"
                                                    [(ngModel)]="selectedCounterparty.country">
                                                    <div *ngIf="counterpartyForm.get('country').invalid && counterpartyForm.get('country').touched"
                                                        class="error">
                                                        Country is required.
                                                    </div>
                                                </p-dropdown>
                                             
                                        </div>
                                   
                                        <div class="col-4 form-group">
                                            <label htmlFor="emailId">
                                                 Email-ID 
                                            </label>
                                           
                                                <input pInputText id="emailID" type="text" formControlName="emailID"
                                                    [(ngModel)]="selectedCounterparty.emailID" />
                                                <div *ngIf="counterpartyForm.get('emailID').invalid && counterpartyForm.get('emailID').touched"
                                                    class="error">
                                                    Valid Email-ID is required.
                                                </div>
                                            
                                        </div>
                                        <div class="col-4 form-group">
                                            <label htmlFor="keyContact">
                                                 key Contact 
                                            </label>
                                            
                                                <input pInputText id="keyContact" type="text"
                                                    formControlName="keyContact"
                                                    [(ngModel)]="selectedCounterparty.keyContact" />
                                                <div *ngIf="
                                                        counterpartyForm.get('keyContact').invalid && counterpartyForm.get('keyContact').touched"
                                                    class="error">
                                                    Key Contact is required.
                                                </div>
                                            
                                        </div>
                                        <div class="col-12 form-group">
                                            <label htmlFor="address">
                                                 Address 
                                            </label>
                                           
                                                <textarea rows="4" cols="26" id="address" pInputTextarea
                                                    formControlName="address" [(ngModel)]="selectedCounterparty.address">
                                                <div
                                                    *ngIf="counterpartyForm.get('address').invalid && counterpartyForm.get('address').touched" class="error" >
                                                    Address is required.
                                                </div>
                                                </textarea>
                                            
                                        </div>
                                        <div class="col-4 form-group">
                                            <label htmlFor="Telephone">
                                                Telephone 
                                            </label>
                                           
                                                <input pInputText id="Telephone" type="text" formControlName="Telephone"
                                                    [(ngModel)]="selectedCounterparty.Telephone" />
                                                <div *ngIf="
                                                        counterpartyForm.get('Telephone').invalid && counterpartyForm.get('Telephone').touched"
                                                    class="error">
                                                    Valid Telephone is required.
                                                </div>
                                           
                                        </div>
                                  
                                      
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <ng-template pTemplate="footer">
                     
                      
                    <button type="button" (click)="displayOverlay=false" severity="secondary" >Clear</button>
              <button type="submit" class="custom-primary-button" (click)="submitCounterpartyForm()">Save</button>

                       
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>