<div class="layout-topbar">
    <a routerLink="">
        <img src="assets/layout/images/TrexBlueLogo.png" width="170" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars top-bar-text-color"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu">
        <div style="margin-top: 1rem;">
            <span class="block font-medium mb-3" style="color: white;">
                <i class="pi pi-fw pi-flag-fill"></i> Welcome Administrator 
            </span>
            <span class="block font-medium mb-3" style="color: white;">
                Total Account Balance is £ 300,000
            </span>
        </div>
    </div>
</div>

<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <div id="pricing" class="py-4 px-4 lg:px-8 my-2 md:my-4">
            <div class="text-center">
                <h2 class="text-900 font-normal mb-2">Welcome to TREX</h2>
            </div>
            
            <div class="grid justify-content-between mt-8 md:mt-0">
                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px"
                        [routerLink]="['/dashboard/dashboard']">
                        <img src="assets/demo/images/landing/CashManagement.png" class="w-8 h-8 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Cash Management</span>
                    </div>
                </div>

                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px"
                        [routerLink]="['/deals/projections']">
                        <img src="assets/demo/images/landing/TreasuryDeals.jpg" class="w-10 h-10 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Treasury Dealing</span>
                    </div>
                </div>

                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px">
                        <img src="assets/demo/images/landing/IMS_1.jpg" class="w-8 h-8 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Invoice Management System</span>
                    </div>
                </div>

                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px">
                        <img src="assets/demo/images/landing/Reporting.jpg" class="w-10 h-10 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Reporting</span>
                    </div>
                </div>

                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px">
                        <img src="assets/demo/images/landing/currency.png" class="w-6 h-6 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Asset & Liability Management</span>
                    </div>
                </div>

                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px">
                        <img src="assets/demo/images/landing/cash-flow.png" class="w-6 h-6 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Cash Forecast</span>
                    </div>
                </div>

                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px">
                        <img src="assets/demo/images/landing/Administrator.png" class="w-6 h-6 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Administrator</span>
                    </div>
                </div>

                <div class="col-12 lg:col-3 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 custom-hover-border transition-duration-300 transition-all"
                        style="border-radius:10px">
                        <img src="assets/demo/images/landing/Settings.png" class="w-6 h-6 mx-auto" alt="enterprise">
                        
                        <span class="text-center font-semibold mt-3" style="color: #07435B;">Settings</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="layout-footer p-3 mt-5 text-white" style="background-color: #07435B;">
    <img src="assets/layout/images/TrexBlueIcon.png" alt="Logo" height="20" class="mr-2"/>
    Connecting the dots in Treasury.
    <span class="font-medium ml-2">TREX - 2025</span>
</div>
