
<div class="header_main">
    <h1> Invoice Management </h1>
    </div>
<div class="grid">

<div class="col-12">
    <div class="card p-0 custom_height">
        <div class="heading">
            <h2>Import File</h2>  
          </div> 
        <div class="drag_drop">
            <i class="pi pi-cloud-upload"></i>
            <p>
                Drag & drop files here, or click to choose files.
                <span>Support the formats
                    JPEG, PNG and PDF formats, up to 50MB</span>
            </p>
            <p-button label="Upload" variant="outlined" severity="info" />

              
        </div>
        <div class="heading mt-50">
            <h2>Imported Files</h2>  
          </div> 
          <div class="col-12">
          <p-table   [paginator]="true" [rows]="20"  [value]="tasks"  [responsiveLayout]="'scroll'" sortMode="single"
          sortMode="single" 
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  (onPage)="pageChange($event)"         [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem', 'border': '1px solid lightgray',  'border-radius': '5px'}"
          >
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="legalName">
                          Imported File <p-sortIcon field="legalName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="aliasName">
                          Import Results <p-sortIcon field="aliasName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="country">
                          Imported on <p-sortIcon field="country"></p-sortIcon>
                      </th>
                      <th pSortableColumn="currency">
                        Imported By  <p-sortIcon field="currency"></p-sortIcon>
                      </th>
                      <th pSortableColumn="Actions">
                          Actions 
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-dataItem>
                  <tr>
                    <td>
                        <a href="javascript:void(0)">{{ dataItem.importedFile }}</a>
                      </td>
                      <td>{{ dataItem.importResults }}</td>
                      <td>{{ dataItem.importedOn }}</td>
                      <td>{{ dataItem.importedBy }}</td>
                      <td>
                          <!-- <a href="#"> <em class="far fa-edit"></em> </a> -->
                          <a href="#"> <em class="far fa-eye"></em> </a>
                          <a href="#"> <em class="far fa-trash-alt"></em> </a>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
    </div>

    </div> </div>