<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h5><i class="pi pi-fw pi-building"></i> Bank Accounts</h5>
            <kendo-grid [kendoGridBinding]="bankAccountDetails" [filterable]="filterMode" [groupable]="false"
                [pageable]="true" [sortable]="false" [pageSize]="10" [group]="group">
                <kendo-grid-column field="entity" title="Entity" [hidden]="true">
                    <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value">
                        <div class="flex align-items-center gap-2">
                            <img src="{{group.items[0].imageUrl}}" class="shadow-4" alt="{{group.items[0].entity}}"
                                width="30">
                            <span class="font-bold">
                                {{value}}
                            </span>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="accountName" title="Account Name">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <a href="javascript:void(0)" (click)="handlePopup(dataItem)"> {{dataItem.accountName}}
                        </a>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="currency" title="Currency">
                </kendo-grid-column>
                <kendo-grid-column field="market" title="Market">
                </kendo-grid-column>
                <kendo-grid-column field="country" title="Country">
                </kendo-grid-column>


            </kendo-grid>

            <p-dialog [(visible)]="displayOverlay" [modal]="true" showEffect="fade" [style]="{width: '70vw'}"
                [breakpoints]="{'960px': '75vw'}">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <img src="{{selectedBankAccountDetail?.imageUrl}}" class="shadow-4"
                            alt="{{selectedBankAccountDetail?.entity}}" width="30">
                        <span> {{selectedBankAccountDetail?.entity}} - {{selectedBankAccountDetail?.accountName}}
                        </span>
                    </div>
                </ng-template>

                <!-- <p-panel [collapsed]="false" [style]="{'margin': '0.5%'}"> -->
                <div class="col-12">
                    <div class="grid m-0 p-0">
                        <div class="col-12 m-0 p-0">
                            <p-divider align="left" class="m-0 p-0">
                                <i class="pi pi-fw pi-sun"></i>
                                <b>Details</b>
                                <i class="pi pi-fw pi-sun"></i>
                            </p-divider>
                            <div class="field grid">
                                <div class="col-6">
                                    <div class="field grid">
                                        <label htmlFor="accountName" class="col-4 md:col-4 mb-0 md:mb-0">
                                            <b>Account Name</b>
                                        </label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="accountName" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.accountName" />
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <label htmlFor="accountNumber" class="col-4 md:col-4 mb-0 md:mb-0"><b>Account
                                                Number</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="accountNumber" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.accountNumber" />
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <label htmlFor="iban" class="col-4 md:col-4 mb-0 md:mb-0">
                                            <b>IBAN</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="iban" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.iban" />
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <label htmlFor="swift_bic"
                                            class="col-4 md:col-4 mb-0 md:mb-0"><b>SWIFT</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="swift_bic" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.swiftCode" />
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <label htmlFor="metadata"
                                            class="col-4 md:col-4 mb-0 md:mb-0"><b>Metadata</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="metadata" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.metadata" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="field grid">
                                        <label htmlFor="currency"
                                            class="col-4 md:col-4 mb-0 md:mb-0"><b>Currency</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="currency" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.currency" />
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <label htmlFor="market"
                                            class="col-4 md:col-4 mb-0 md:mb-0"><b>Market</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="market" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.market" />
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <label htmlFor="entity"
                                            class="col-4 md:col-4 mb-0 md:mb-0"><b>Country</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="entity" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.country" />
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <label htmlFor="alias" class="col-4 md:col-4 mb-0 md:mb-0"><b>Alias</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="alias" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.alias" />
                                        </div>
                                    </div>


                                    <div class="field grid">
                                        <label htmlFor="trexid"
                                            class="col-4 md:col-4 mb-0 md:mb-0"><b>TrexId</b></label>
                                        <div class="col-7 md:col-7">
                                            <input pInputText id="trexid" type="text" [disabled]="true"
                                                [value]="selectedBankAccountDetail?.trexId" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p-divider align="left" style="margin: 3%;">
                                <i class="pi pi-fw pi-bolt"></i>
                                <b>Balances</b>
                            </p-divider>
                            <div class="field grid">
                                <div class="col-6">
                                    <div class="field grid">
                                        <label class="col-4 mb-4 md:col-4 md:mb-1"><b>Opening Balance</b></label>
                                        <span
                                            class="col-7 mb-7 md:col-7 md:mb-1">{{selectedBankAccountDetail?.balance.openingBalance
                                            | currency:selectedBankAccountDetail?.currency}}</span>
                                    </div>
                                    <div class="field grid">
                                        <label class="col-4 mb-4 md:col-4 md:mb-1"><b>Weekly Balance</b></label>
                                        <span
                                            class="col-7 mb-7 md:col-7 md:mb-1">{{selectedBankAccountDetail?.balance.weeklyBalance
                                            | currency:selectedBankAccountDetail?.currency}}</span>
                                    </div>
                                    <div class="field grid">
                                        <label class="col-4 mb-7 md:col-4 md:mb-0"><b>Inflow</b></label>
                                        <span
                                            class="col-4 mb-7 md:col-4 md:mb-0">{{selectedBankAccountDetail?.balance.inflow
                                            | currency:selectedBankAccountDetail?.currency}}</span>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="field grid">
                                        <label class="col-4 mb-4 md:col-4 md:mb-1"><b>Closing Balance</b></label>
                                        <span
                                            class="col-7 mb-7 md:col-7 md:mb-1">{{selectedBankAccountDetail?.balance.closingBalance
                                            | currency:selectedBankAccountDetail?.currency}}</span>
                                    </div>
                                    <div class="field grid">
                                        <label class="col-4 mb-4 md:col-4 md:mb-1"><b>Monthly Balance</b></label>
                                        <span
                                            class="col-7 mb-7 md:col-7 md:mb-1">{{selectedBankAccountDetail?.balance.monthlyBalance
                                            | currency:selectedBankAccountDetail?.currency}}</span>
                                    </div>

                                    <div class="field grid">
                                        <label class="col-4 mb-7 md:col-4 md:mb-0"><b>Outflow</b></label>
                                        <span
                                            class="col-4 mb-7 md:col-4 md:mb-0">{{selectedBankAccountDetail?.balance.outflow
                                            | currency:selectedBankAccountDetail?.currency}}</span>
                                    </div>
                                </div>
                            </div>

                            <p-divider align="left" style="margin: 3%;">
                                <i class="pi pi-fw pi-money-bill"></i>
                                <b>Upcoming Payments</b>
                            </p-divider>
                            <div class="field grid">
                                <div class="col-7">
                                    <div class="field grid"
                                        *ngFor="let payment of getUpcomingPaymentsArray(selectedBankAccountDetail?.balance.upcomingPayments)">
                                        <label class="col-4 mb-7 md:col-4 md:mb-0"><b>{{ payment.key }}</b></label>
                                        <span class="col-4 mb-7 md:col-4 md:mb-0">{{ payment.value |
                                            currency:selectedBankAccountDetail?.currency }}</span>
                                    </div>

                                    <ng-template #noPayments>
                                        <div class="field grid">
                                            <p>No upcoming payments.</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-check" (click)="displayOverlay=false" label="Ok"
                        class="p-button-outlined"></button>
                </ng-template>
            </p-dialog>

        </div>
    </div>
</div>