<div class="grid">
    <div class="col-12">
        <div class="header_main">
            <h1> Counter Parties </h1>
            <button pButton     label="Add Counter Parties"
            class="custom-primary-button"></button>
            </div>
        <div class="card p-fluid">
            <div class="card_container">
                <p-table [value]="accountdata" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"         [showCurrentPageReport]="true"
         [rows]="20" [responsiveLayout]="'scroll'" sortMode="single"     [tableStyle]="{ 'min-width': '50rem' }"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">Legal Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="accountName">Account Name <p-sortIcon field="accountName"></p-sortIcon></th>
                            <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon></th>
                            <th pSortableColumn="currency">Currency <p-sortIcon field="currency"></p-sortIcon></th>
                            <th pSortableColumn="isActive">Is Active <p-sortIcon field="isActive"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataItem>
                        <tr>
                            <td>
                                <a href="javascript:void(0)" (click)="handlePopup(dataItem)">
                                    {{ dataItem.name }}
                                </a>
                            </td>
                            <td>
                                <span>{{ dataItem.accountName }}</span>
                            </td>
                            <td>
                                <div class="flex align-items-center gap-2">
                                    <img [src]="countryService.getCountryImageUrl(dataItem.country)"  
                                        alt="{{ dataItem.country }}" width="30" />
                                    <span> {{ dataItem.country }} </span>
                                </div>
                            </td>
                            <td>
                                <i [class]="currencyService.getCurrencyClass(dataItem.currency)"></i>
                                {{ dataItem.currency }}
                            </td>
                            <td>
                                <span>{{ dataItem.isActive }}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                
                
            <!-- <kendo-grid [kendoGridBinding]="accountdata" [pageSize]="20" [pageable]="true" [sortable]="true"
                [filterable]="filterMode" [groupable]="true" style="width: 100%">
                <kendo-grid-column field="name" title="Legal Name">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <a href="javascript:void(0)" (click)="handlePopup(dataItem)">
                            {{ dataItem.name }}
                        </a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="accountName" title="Account Name">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.accountName }}</span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="country" title="Country">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="flex align-items-center gap-2">
                            <img [src]="this.countryService.getCountryImageUrl(dataItem.country)"  
                                alt="{{ dataItem.country }}" width="30" />
                            <span> {{ dataItem.country }} </span>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="currency" title="Currency">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <i [class]="this.currencyService.getCurrencyClass(dataItem.currency)"></i>
                        {{ dataItem.currency }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="isActive" title="Is Active">
                    <ng-template kendoGridHeaderTemplate let-column="column">
                        <div class="header-container">
                            <span class="bold-header">{{ column.title }}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{ dataItem.isActive }}</span>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>  -->
        </div>
            <p-dialog [(visible)]="displayOverlay" [modal]="true" showEffect="fade" [style]="{ width: '70vw' }"
                [breakpoints]="{ '960px': '75vw' }">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span>
                            {{ this.selectedcounterPartyDetail?.name }} - {{
                            this.selectedcounterPartyDetail?.accountName }}
                        </span>
                    </div>
                </ng-template>

                <form [formGroup]="counterpartyAccountForm" (ngSubmit)="submitCounterpartyAccountForm()" *ngIf="selectedcounterPartyDetail">
                    <div class="col-12">
                        <div class="grid m-0 p-0">
                            <div class="col-12 m-0 p-0">
                                <p-divider layout="horizontal" align="left">
                                    <span class="p-tag">Account Deails</span>
                                </p-divider>
                                <div class="field grid">
                                   
                                        <div class="col-4 form-group">
                                            <label htmlFor="accountName">
                                               Account Name 
                                            </label>
                                            
                                                <input pInputText id="accountName" type="text" [disabled]="false"
                                                    formControlName="accountName"
                                                    [(ngModel)]="selectedcounterPartyDetail.accountName" />
                                                <div *ngIf="counterpartyAccountForm.get('accountName').invalid && counterpartyAccountForm.get('accountName').touched"
                                                    class="error">
                                                    Account Name is required.
                                                </div>
                                             
                                        </div>
                                     
                                   
                                        <div class="col-4 form-group">
                                            <label htmlFor="currency" ><b>Currency</b></label>
                                            
                                                <p-dropdown [options]="currencies" id="currency"
                                                    [(ngModel)]="selectedCurrency" optionLabel="name"
                                                    placeholder="Select a Currency" formControlName="currency"
                                                    [(ngModel)]="selectedcounterPartyDetail.currency">
                                                    <div *ngIf="counterpartyAccountForm.get('currency').invalid && counterpartyAccountForm.get('currency').touched"
                                                        class="error">
                                                        Currency is required.
                                                    </div>
                                                </p-dropdown>
                                             
                                        </div>
                                    
                                    
                                        <div class="col-4 form-group">
                                            <label htmlFor="entity"><b>Country</b></label>
                                           
                                                <p-dropdown [options]="countries" id="country"
                                                    [(ngModel)]="selectedCountry" optionLabel="name"
                                                    placeholder="Select a Country" formControlName="country"
                                                    [(ngModel)]="selectedcounterPartyDetail.country">
                                                    <div *ngIf="counterpartyAccountForm.get('country').invalid && counterpartyAccountForm.get('country').touched"
                                                        class="error">
                                                        Country is required.
                                                    </div>
                                                </p-dropdown>
                                            
                                        </div>
                                   </div>
                                   <div class="field grid">
                                        <div class="col-4 form-group">
                                            <label htmlFor="accountNumber"><b>Account Number</b></label>
                                            
                                                <input pInputText id="accountNumber" type="text" [disabled]="false"
                                                    formControlName="accountNumber"
                                                    [(ngModel)]="selectedcounterPartyDetail.accountNumber" />
                                                <div *ngIf="counterpartyAccountForm.get('accountNumber').invalid && counterpartyAccountForm.get('accountNumber' ).touched"
                                                    class="error">
                                                    Account Number is required.
                                                </div>
                                            
                                        </div>
                                 
                                   
                                        <div class="col-4 form-group">
                                            <label htmlFor="iban">
                                                IBAN </label>
                                             
                                                <input pInputText id="iban" type="text" [disabled]="false"
                                                    formControlName="iban"
                                                    [(ngModel)]="selectedcounterPartyDetail.iban" />
                                                <div *ngIf="counterpartyAccountForm.get('iban').invalid && counterpartyAccountForm.get('iban').touched"
                                                    class="error">
                                                    Iban is required.
                                                </div>
                                          
                                        </div>
                                    
                                    
                                        <div class="col-4 form-group">
                                            <label htmlFor="swift_bic"> SWIFT </label>
                                          
                                                <input pInputText id="swift_bic" type="text" [disabled]="false"
                                                    formControlName="swift_bic"
                                                    [(ngModel)]="selectedcounterPartyDetail.swift_bic" />
                                                <div *ngIf="counterpartyAccountForm.get('swift_bic').invalid &&counterpartyAccountForm.get('swift_bic').touched"
                                                    class="error">
                                                    swift Bic is required.
                                                </div>
                                             
                                        </div>
                                    </div>
                                    <div class="field grid">
                                        <div class="col-4 form-group">
                                            <label htmlFor="trexid"> TrexId  </label>
                                         
                                                <input pInputText id="trexid" type="text" formControlName="trexid"
                                                    [(ngModel)]="selectedcounterPartyDetail.trexid" />
                                                <div *ngIf="counterpartyAccountForm.get('trexid').invalid &&counterpartyAccountForm.get('trexid').touched"
                                                    class="error">
                                                    Trex Id is required.
                                                </div>
                                            
                                        </div>
                                    
                                   
                                        <div class="col-4 form-group">
                                            <label htmlFor="isACtive"> Is
                                                    Active </label>
                                            <div>
                                                <p-checkbox formControlName="isActive" value="New York"
                                                    inputId="isActive" />
                                                <div *ngIf="
                                                        counterpartyAccountForm.get('isActive')
                                                            .invalid &&
                                                        counterpartyAccountForm.get('isActive')
                                                            .touched
                                                    " class="error">

                                                </div>
                                            </div>
                                        </div>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <ng-template pTemplate="footer">
                    <button pButton  label="Cancel" (click)="displayOverlay=false" 
                    severity="secondary"></button>

               <button pButton   (click)="submitCounterpartyAccountForm()" label="Save"
                   class="custom-primary-button"></button>
                   
                       
                   
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>