<div class="header_main">
    <h1> Dashboard </h1>
</div>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">

        <div class="card card__cash--panel mb-0">
            <div class="cash__head">
                <i class="pi pi-pound purple"></i>
                <div>
                    <span class="current__text">Current Cash Balance</span>
                    <div class="current__vaue">£600,000</div>
                </div>

            </div>
            <div class="cash__footer"> Refreshed before <span class="text-color"> 5 minutes </span> </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card card__cash--panel mb-0">
            <div class="cash__head">
                <i class="pi pi-arrow-up-right green"></i>
                <div>
                    <span class="current__text">Today's inflow</span>
                    <div class="current__vaue">£300,000</div>
                </div>
            </div>
            <div class="cash__footer"> <span class="text-color"> %52+ </span>
                since last week</div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card card__cash--panel mb-0">
            <div class="cash__head">
                <i class="pi pi-arrow-down-left red"></i>
                <div>
                    <span class="current__text">Today's outflow</span>
                    <div class="current__vaue">£250,000</div>
                </div>

            </div>
            <div class="cash__footer">
                <span class="text-color"> %52+ </span>
                since last week
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card card__cash--panel mb-0">
            <div class="cash__head">
                <i class="pi pi-th-large orange"></i>
                <div>
                    <span class="current__text">AI Insights</span>
                    <div class="current__vaue">15 Suggestions</div>
                </div>
            </div>
            <div class="cash__footer">Last ran on <span class="text-color"> 22 June </span> </div>
        </div>
    </div>

    <div class="col-12 xl:col-8">
        <div class="card p-0 custom_height" cdkDrag>
            <div class="heading">
                <h2>Bank Balances</h2>
                <div class="right__btn">
                    <p-button label="View All" />
                    <i class="pi pi-arrows-alt"></i>
                </div>
            </div>
            <p-table class="dashboard-custom custom-p-table" [rowsPerPageOptions]="[10,20,30,40,50]"
                [value]="bankAccounts" [paginator]="true" [rows]="10" responsiveLayout="scroll" sortMode="single">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center;" colspan="2">Bank</th>
                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                        <th pSortableColumn="incash">Inflow <p-sortIcon field="incash"></p-sortIcon></th>
                        <th pSortableColumn="outcash">Outflow <p-sortIcon field="outcash"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bankAccount>
                    <tr>
                        <td style="width: 6%;">
                            <img src="assets/demo/images/bank/{{bankAccount.bankImage}}" alt="{{bankAccount.entity}}"
                                [height]="bankAccount.imageHeight">
                        </td>
                        <td style="width: 19%;">
                            <span>{{bankAccount.entity}}</span>
                        </td>
                        <td style="width: 25%;">{{bankAccount.amount | currency:bankAccount.currency}}</td>
                        <td style="width: 25%;">{{bankAccount.incash | currency:bankAccount.currency}}</td>
                        <td style="width: 25%;">{{bankAccount.outcash | currency:bankAccount.currency}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="card p-0 custom_height" cdkDrag cdkDropList>
            <div class="heading">
                <h2>Cash Flow</h2>
                <div class="right__btn">
                    <p-button label="View Report" />
                    <i class="pi pi-arrows-alt"></i>
                </div>
            </div>
            <div class="p-24">
                <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" />
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-4">
        <div class="card p-0 custom_height" cdkDrag>
            <div class="heading">
                <h2>My Tasks</h2>

                <div class="right__btn">
                    <p-button label="View All" />
                    <i class="pi pi-arrows-alt"></i>
                </div>
            </div>

            <ul class="list-none my__task">
                <li>
                    <i class="pi pi-user"></i>
                    <div class="task__details">
                        <span> 1 Treasurer Registered - set permissions </span>
                        <span class="badge purple">approvals</span>
                    </div>
                </li>
                <li>
                    <i class="pi pi-money-bill"></i>
                    <div class="task__details">
                        <span>5 Internal Payments awaiting for approval </span>
                        <span class="badge orange"> waiting </span>
                    </div>
                </li>
                <li>
                    <i class="pi pi-money-bill"></i>
                    <div class="task__details">
                        <span>2 External Payments awaiting for approval </span>
                        <span class="badge orange"> waiting </span>
                    </div>
                </li>
                <li>
                    <i class="pi pi-money-bill"></i>
                    <div class="task__details">
                        <span> 2 External Payment approvals are overdue </span>
                        <span class="badge red">overdue</span>
                    </div>
                </li>
                <li>
                    <i class="pi pi-money-bill"></i>
                    <div class="task__details">
                        <span> 1 Internal Payment approval is overdue </span>
                        <span class="badge red">overdue</span>
                    </div>
                </li>
                <li>
                    <i class="pi pi-money-bill"></i>
                    <div class="task__details">
                        <span> 1 Configuration approval is overdue </span>
                        <span class="badge red">overdue</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card p-0 custom_height" cdkDrag>
            <div class="heading">
                <h2>Notifications</h2>
                <div class="right__btn">
                    <p-button label="View All" />
                    <i class="pi pi-arrows-alt"></i>
                </div>
            </div>
            <div class="my__notifications">
                <ul>
                    <li>
                        <span class="text-900 line-height-3">HSBC UK Operational account balance <span class="text-red-500">is running
                                low</span></span>
                    </li>
                    <li>
                        <span class="text-900 line-height-3">Llyods UK Operational account balance <span class="text-red-500">is running
                                low</span></span>
                    </li>
                    <li>
                        <span class="text-900 line-height-3">Santander money market deposit is due<span
                                class="text-green-500">to mature in 3 days</span></span>
                    </li>
                    <li>

                        <span class="text-900 line-height-3">DWS Investment GmbH money market fund is due <span
                                class="text-green-500">to mature in 3 days</span></span>
                    </li>
                    <li>
                        <span class="text-900 line-height-3">HSBC Global Asset Management money market deposit is due <span
                                class="text-green-500">to mature in 3 days</span></span>
                    </li>
                    <li>
                        <span class="text-900 line-height-3">Barclays UK Operational account balance <span class="text-purple-500">is at
                                max</span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>