<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h5><i class="pi pi-fw pi-home"></i> Money Market Funds</h5> <br />
            <div style="overflow-x: auto;">
                <kendo-grid [data]="gridData" [pageSize]="10" [skip]="0" [pageable]="true" [sortable]="true"
                    [filterable]="filterMode" [resizable]="true">
                    <kendo-grid-column field="ISIN" title="ISIN" width="120"></kendo-grid-column>
                    <kendo-grid-column field="Counterparty" title="Counterparty" width="200"></kendo-grid-column>
                    <kendo-grid-column field="FundName" title="Fund Name" width="200"></kendo-grid-column>
                    <!-- <kendo-grid-column field="Currency" title="Currency" width="120"></kendo-grid-column> -->
                    <kendo-grid-column field="Exposure" title="Exposure" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.Exposure | currency: dataItem.Currency}}
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="Limit" title="Limit" width="120">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.Limit | currency: dataItem.Currency}}
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="MMFInvestment" title="Investment">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.MMFInvestment | currency: dataItem.Currency}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="DailyYield" title="Daily Yield" width="130"></kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>