<div class="layout-topbar">
    <a routerLink="">
        <img src="assets/layout/images/TrexBlueLogo.png" width="90" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars top-bar-text-color"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
         
            <div class="input-group search-bar">
               
    <input type="text" class="form-control" placeholder="Search for result">
    <a class="input-group-text">
        <i class="pi pi-search"></i>  <!-- PrimeNG Search Icon -->
    </a>
 
        </div>
         
        <div class="tor__right">
            <button class="layout_topbar_iconbutton"> 
                <i class="pi pi-bell"></i>
                 
            </button> 
            <button class="layout_topbar_iconbutton">
                <i class="pi pi-spin pi-cog"  ></i>

                
            </button> 

            <span class="user__details">Welcome, {{ this.userService.getUser()?.name || 'Anonymous' }}</span>
       
        <button class="p-link layout-topbar-button " (click)="signOut()">
            <i class="pi pi-sign-out"></i>
            <span>Sign out</span>
        </button> </div>
    </div>
</div>