<div class="grid">
  <div class="col-12">
    <div class="card p-fluid">
      <h5><i class="pi pi-fw pi-arrow-right-arrow-left"></i> Transfers</h5>
      <p-tabView>
        <p-tabPanel header="Internal Payments">
          <form [formGroup]="internalPaymentsForm" (ngSubmit)="submitInternal()">
            <div class="field grid">
              <div class="col-6">
                <div class="field grid">
                  <label for="fromAccount" class="col-4 md:col-4 mb-0 md:mb-0"><b>From Account</b></label>
                  <div class="col-7 md:col-7">
                    <p-dropdown id="fromAccount" formControlName="fromAccount" [options]="accounts"></p-dropdown>
                    <div *ngIf="internalPaymentsForm.get('fromAccount').touched && internalPaymentsForm.get('fromAccount').invalid">
                      <small class="p-error">From Account is required.</small>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label for="currency" class="col-4 md:col-4 mb-0 md:mb-0"><b>Currency</b></label>
                  <div class="col-7 md:col-7">
                    <p-dropdown id="currency" formControlName="currency" [options]="currencies"></p-dropdown>
                    <div *ngIf="internalPaymentsForm.get('currency').touched && internalPaymentsForm.get('currency').invalid">
                      <small class="p-error">Currency is required.</small>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label for="executionDate" class="col-4 md:col-4 mb-0 md:mb-0"><b>Execution Date</b></label>
                  <div class="col-7 md:col-7">
                    <p-calendar id="executionDate" formControlName="executionDate" appendTo="body" showIcon="true"></p-calendar>
                    <div *ngIf="internalPaymentsForm.get('executionDate').touched && internalPaymentsForm.get('executionDate').invalid">
                      <small class="p-error">Execution Date is required.</small>
                    </div>
                  </div>
                </div>
              </div>
              

              <div class="col-6">
                <div class="field grid">
                  <label for="toAccount" class="col-4 md:col-4 mb-0 md:mb-0"><b>To Account</b></label>
                  <div class="col-7 md:col-7">
                    <p-dropdown id="toAccount" formControlName="toAccount" [options]="filterToAccounts(internalPaymentsForm.get('fromAccount').value)"></p-dropdown>
                    <div *ngIf="internalPaymentsForm.get('toAccount').touched && internalPaymentsForm.get('toAccount').invalid">
                      <small class="p-error">To Account is required.</small>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label for="reference" class="col-4 md:col-4 mb-0 md:mb-0"><b>Reference</b></label>
                  <div class="col-7 md:col-7">
                    <input id="reference" type="text" pInputText formControlName="reference" />
                    <div *ngIf="internalPaymentsForm.get('reference').touched && internalPaymentsForm.get('reference').invalid">
                      <small class="p-error">Reference is required.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2 md:col-12 md:mb-2 button-container">
              <button type="submit" class="submit-btn">Submit</button>
              <button type="button" (click)="clearInternal()" class="clear-btn">Clear</button>
            </div>
            <p-table [value]="internalPaymentsList" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="fromAccount" style="width:25%">
                    From Account <p-sortIcon field="fromAccount" />
                  </th>
                  <th pSortableColumn="toAccount" style="width:25%">
                    To Account <p-sortIcon field="toAccount" />
                  </th>
                  <th pSortableColumn="currency" style="width:25%">
                    Currency <p-sortIcon field="currency" />
                  </th>
                  <th pSortableColumn="executionDate" style="width:25%">
                    Execution Date <p-sortIcon field="executionDate" />
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td>{{rowData.fromAccount}}</td>
                  <td>{{rowData.toAccount}}</td>
                  <td>{{rowData.currency}}</td>
                  <td>{{rowData.executionDate}}</td>
                </tr>
              </ng-template>
            </p-table>
          </form>
        </p-tabPanel>
        <p-tabPanel header="External Payments">
          <form [formGroup]="externalPaymentsForm" (ngSubmit)="submitExternal()">
            <div class="field grid">
              <div class="col-6">
                <div class="field grid">
                  <label for="fromAccount" class="col-4 md:col-4 mb-0 md:mb-0"><b>From Account</b></label>
                  <div class="col-7 md:col-7">
                    <p-dropdown id="fromAccount" formControlName="fromAccount" [options]="accounts"></p-dropdown>
                    <div *ngIf="externalPaymentsForm.get('fromAccount').touched && externalPaymentsForm.get('fromAccount').invalid">
                      <small class="p-error">From Account is required.</small>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label for="accountNumber" class="col-4 md:col-4 mb-0 md:mb-0"><b>Account Number</b></label>
                  <div class="col-7 md:col-7">
                    <input id="accountNumber" type="text" pInputText formControlName="accountNumber"/>
                    <div *ngIf="externalPaymentsForm.get('accountNumber').invalid && externalPaymentsForm.get('accountNumber').touched">
                      <small class="p-error">Account Number is required.</small>
                    </div>
                  </div>
                </div>  
                <div class="field grid">
                  <label for="currency" class="col-4 md:col-4 mb-0 md:mb-0"><b>Currency</b></label>
                  <div class="col-7 md:col-7">
                    <p-dropdown id="currency" formControlName="currency" [options]="currencies"></p-dropdown>
                    <div *ngIf="externalPaymentsForm.get('currency').touched && externalPaymentsForm.get('currency').invalid">
                      <small class="p-error">Currency is required.</small>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label for="executionDate" class="col-4 md:col-4 mb-0 md:mb-0"><b>Execution Date</b></label>
                  <div class="col-7 md:col-7">
                    <p-calendar id="executionDate" formControlName="executionDate" appendTo="body" showIcon="true"></p-calendar>
                    <div *ngIf="externalPaymentsForm.get('executionDate').touched && externalPaymentsForm.get('executionDate').invalid">
                      <small class="p-error">Execution Date is required.</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="field grid">
                  <label for="toAccount" class="col-4 md:col-4 mb-0 md:mb-0"><b>To Account</b></label>
                  <div class="col-7 md:col-7">
                    <p-dropdown id="toAccount" formControlName="toAccount" [options]="filterToAccounts(externalPaymentsForm.get('fromAccount').value)"></p-dropdown>
                    <div *ngIf="externalPaymentsForm.get('toAccount').touched && externalPaymentsForm.get('toAccount').invalid">
                      <small class="p-error">To Account is required.</small>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label for="sortCode" class="col-4 md:col-4 mb-0 md:mb-0"><b>Sort Code</b></label>
                  <div class="col-7 md:col-7">
                    <input id="sortCode" type="text" pInputText formControlName="sortCode" />
                    <div *ngIf="externalPaymentsForm.get('sortCode').touched && externalPaymentsForm.get('sortCode').invalid">
                      <small class="p-error">Sort code is required.</small>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label for="reference" class="col-4 md:col-4 mb-0 md:mb-0"><b>Reference</b></label>
                  <div class="col-7 md:col-7">
                    <input id="reference" type="text" pInputText formControlName="reference" />
                    <div *ngIf="externalPaymentsForm.get('reference').touched && externalPaymentsForm.get('reference').invalid">
                      <small class="p-error">Reference is required.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2 md:col-12 md:mb-2 button-container">
              <button type="submit" class="submit-btn">Submit</button>
              <button type="button" (click)="clearExternal()" class="clear-btn">Clear</button>
            </div>
            <p-table [value]="externalPaymentsList" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="fromAccount" style="width:25%">
                    From Account <p-sortIcon field="fromAccount" />
                  </th>
                  <th pSortableColumn="toAccount" style="width:25%">
                    To Account <p-sortIcon field="toAccount" />
                  </th>
                  <th pSortableColumn="currency" style="width:25%">
                    Currency <p-sortIcon field="currency" />
                  </th>
                  <th pSortableColumn="sortCode" style="width:25%">
                    Sort Code <p-sortIcon field="sortCode" />
                  </th>
                  <th pSortableColumn="executionDate" style="width:25%">
                    Execution Date <p-sortIcon field="executionDate" />
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td>{{rowData.fromAccount}}</td>
                  <td>{{rowData.toAccount}}</td>
                  <td>{{rowData.currency}}</td>
                  <td>{{rowData.sortCode}}</td>
                  <td>{{rowData.executionDate}}</td>
                </tr>
              </ng-template>
            </p-table>
          </form>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
